<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common/meta" /}
</head>
<body class="skin-blue sidebar-mini ">
    <header class="main-header">
        {include file="common/header" /}
    </header>
    <aside class="main-sidebar">
        {include file="common/menu"}
    </aside>
    <section class="content-wrapper">
        <iframe scrolling="yes" frameborder="0"
                style="width: 100%; min-height: 450px; overflow: visible; background: #fff;"
                id="menuFrame" name="menuFrame" ></iframe>
    </section>
</body>
{include file="common/footer"}
</html>