<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>AdminLTE 2 | Starter</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/static/assets/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/static/assets/Ionicons/css/ionicons.min.css"/>
<link rel="stylesheet" href="/static/assets/adminlte/css/AdminLTE.min.css"/>
<link rel="stylesheet" href="/static/assets/adminlte/css/skins/_all-skins.css"/>
<link rel="stylesheet" href="/static/css/shop.css"/>